/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
/* line 6, ../scss/config/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 26, ../scss/config/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
/* line 31, ../scss/config/_reset.scss */
*[hidden] {
  display: none;
}

/* line 34, ../scss/config/_reset.scss */
body {
  line-height: 1.5;
}

/* line 37, ../scss/config/_reset.scss */
menu, ol, ul {
  list-style: none;
}

/* line 40, ../scss/config/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 43, ../scss/config/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 48, ../scss/config/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 53, ../scss/config/_reset.scss */
hr {
  border-top: 1px solid #f2f2f2;
}

@font-face {
  font-family: 'Russo One';
  src: url("./../fonts/RussoOne/RussoOne-Regular.woff2") format("woff2"), url("./../fonts/RussoOne/RussoOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rufina';
  src: url("./../fonts/Rufina/Rufina-Regular.woff2") format("woff2"), url("./../fonts/Rufina/Rufina-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rufina';
  src: url("./../fonts/Rufina/Rufina-Bold.woff2") format("woff2"), url("./../fonts/Rufina/Rufina-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Redressed';
  src: url("./../fonts/Redressed/Redressed-Regular.woff2") format("woff2"), url("./../fonts/Redressed/Redressed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* line 2, ../scss/base/_body.scss */
*,
*:before, *:after {
  box-sizing: border-box;
}

/* line 6, ../scss/base/_body.scss */
html {
  font-size: 62.5%;
  height: 100%;
}

/* line 11, ../scss/base/_body.scss */
body {
  font-family: "Russo One", sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  height: 100%;
}

/* line 21, ../scss/base/_body.scss */
p {
  margin-bottom: 1.6rem;
}

/* line 25, ../scss/base/_body.scss */
.main-container {
  min-height: 100vh;
}

/* line 1, ../scss/base/_links.scss */
a, button {
  color: #0074FC;
  text-decoration: none;
  outline: 0;
  transition: color .1s ease-out;
}
/* line 8, ../scss/base/_links.scss */
a.button:hover, button.button:hover {
  text-decoration: none;
}
/* line 12, ../scss/base/_links.scss */
a:hover, a:focus, button:hover, button:focus {
  color: #0056B3;
}
@media (max-width: 539px) {
  /* line 12, ../scss/base/_links.scss */
  a:hover, a:focus, button:hover, button:focus {
    text-decoration: none;
  }
}
/* line 18, ../scss/base/_links.scss */
a.underline-link, button.underline-link {
  color: #0074FC;
  cursor: pointer;
  font-family: "Russo One", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: underline;
}
/* line 26, ../scss/base/_links.scss */
a.text-link, button.text-link {
  font-family: "Russo One", sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  line-height: 1;
  outline: none;
  background-color: transparent;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
}
/* line 40, ../scss/base/_links.scss */
a.text-link.text-primary-base, button.text-link.text-primary-base {
  color: #4469EA;
}
/* line 42, ../scss/base/_links.scss */
a.text-link.text-primary-base:hover, button.text-link.text-primary-base:hover {
  color: #1D1B7A;
}
/* line 46, ../scss/base/_links.scss */
a.text-link.text-secondary-base, button.text-link.text-secondary-base {
  color: #E6E8FB;
}
/* line 48, ../scss/base/_links.scss */
a.text-link.text-secondary-base:hover, button.text-link.text-secondary-base:hover {
  color: #615353;
}
/* line 52, ../scss/base/_links.scss */
a.text-link.text-primary-base, button.text-link.text-primary-base {
  color: #1D1B7A;
  font-size: 2rem;
  text-decoration: underline;
  text-transform: none;
}
/* line 57, ../scss/base/_links.scss */
a.text-link.text-primary-base:hover, button.text-link.text-primary-base:hover {
  color: #4469EA;
}

@font-face {
  font-family: 'iconFont';
  src: url("./../../fonts/iconFont.eot?ekiqni");
  src: url("./../../fonts/iconFont.eot?ekiqni#iefix") format("embedded-opentype"), url("./../../fonts/iconFont.ttf?ekiqni") format("truetype"), url("./../../fonts/iconFont.woff?ekiqni") format("woff"), url("./../../fonts/iconFont.svg?ekiqni#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* line 13, ../scss/base/_icons.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 28, ../scss/base/_icons.scss */
.icon-chat:before {
  content: "\e900";
}

/* line 31, ../scss/base/_icons.scss */
.icon-email:before {
  content: "\e901";
}

/* line 34, ../scss/base/_icons.scss */
.icon-facebook:before {
  content: "\e902";
}

/* line 37, ../scss/base/_icons.scss */
.icon-home:before {
  content: "\e903";
}

/* line 40, ../scss/base/_icons.scss */
.icon-shop:before {
  content: "\e904";
}

/* line 43, ../scss/base/_icons.scss */
.icon-swift:before {
  content: "\e905";
}

/* line 46, ../scss/base/_icons.scss */
.icon-twitter:before {
  content: "\e906";
  color: #050000;
}

/* line 50, ../scss/base/_icons.scss */
.icon-twitter .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: white;
}

/* line 55, ../scss/base/_icons.scss */
.icon-user:before {
  content: "\e908";
}

/* line 1, ../scss/base/_grid.scss */
.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 760px) {
  /* line 1, ../scss/base/_grid.scss */
  .container {
    max-width: 860px;
  }
}
@media (min-width: 960px) {
  /* line 1, ../scss/base/_grid.scss */
  .container {
    max-width: 1440px;
  }
}

/* line 19, ../scss/base/_grid.scss */
.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}
@media (max-width: 539px) {
  /* line 19, ../scss/base/_grid.scss */
  .grid {
    grid-gap: 0;
  }
}

/* line 29, ../scss/base/_grid.scss */
.grid-1 {
  grid-column: span 1;
}

/* line 29, ../scss/base/_grid.scss */
.grid-2 {
  grid-column: span 2;
}

/* line 29, ../scss/base/_grid.scss */
.grid-3 {
  grid-column: span 3;
}

/* line 29, ../scss/base/_grid.scss */
.grid-4 {
  grid-column: span 4;
}

/* line 29, ../scss/base/_grid.scss */
.grid-5 {
  grid-column: span 5;
}

/* line 29, ../scss/base/_grid.scss */
.grid-6 {
  grid-column: span 6;
}

/* line 29, ../scss/base/_grid.scss */
.grid-7 {
  grid-column: span 7;
}

/* line 29, ../scss/base/_grid.scss */
.grid-8 {
  grid-column: span 8;
}

/* line 29, ../scss/base/_grid.scss */
.grid-9 {
  grid-column: span 9;
}

/* line 29, ../scss/base/_grid.scss */
.grid-10 {
  grid-column: span 10;
}

/* line 29, ../scss/base/_grid.scss */
.grid-11 {
  grid-column: span 11;
}

/* line 29, ../scss/base/_grid.scss */
.grid-12 {
  grid-column: span 12;
}

@media (min-width: 540px) {
  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-1 {
    grid-column: span 1;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-2 {
    grid-column: span 2;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-3 {
    grid-column: span 3;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-4 {
    grid-column: span 4;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-5 {
    grid-column: span 5;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-6 {
    grid-column: span 6;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-7 {
    grid-column: span 7;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-8 {
    grid-column: span 8;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-9 {
    grid-column: span 9;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-10 {
    grid-column: span 10;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-11 {
    grid-column: span 11;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-12 {
    grid-column: span 12;
  }
}
@media (min-width: 760px) {
  /* line 44, ../scss/base/_grid.scss */
  .grid-md-1 {
    grid-column: span 1;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-2 {
    grid-column: span 2;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-3 {
    grid-column: span 3;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-4 {
    grid-column: span 4;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-5 {
    grid-column: span 5;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-6 {
    grid-column: span 6;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-7 {
    grid-column: span 7;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-8 {
    grid-column: span 8;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-9 {
    grid-column: span 9;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-10 {
    grid-column: span 10;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-11 {
    grid-column: span 11;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-12 {
    grid-column: span 12;
  }
}
@media (min-width: 960px) {
  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-1 {
    grid-column: span 1;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-2 {
    grid-column: span 2;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-3 {
    grid-column: span 3;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-4 {
    grid-column: span 4;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-5 {
    grid-column: span 5;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-6 {
    grid-column: span 6;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-7 {
    grid-column: span 7;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-8 {
    grid-column: span 8;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-9 {
    grid-column: span 9;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-10 {
    grid-column: span 10;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-11 {
    grid-column: span 11;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-12 {
    grid-column: span 12;
  }
}
@media (min-width: 1440px) {
  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-1 {
    grid-column: span 1;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-2 {
    grid-column: span 2;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-3 {
    grid-column: span 3;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-4 {
    grid-column: span 4;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-5 {
    grid-column: span 5;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-6 {
    grid-column: span 6;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-7 {
    grid-column: span 7;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-8 {
    grid-column: span 8;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-9 {
    grid-column: span 9;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-10 {
    grid-column: span 10;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-11 {
    grid-column: span 11;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-12 {
    grid-column: span 12;
  }
}
/* line 1, ../scss/base/_buttons.scss */
.btn {
  font-family: "Russo One", sans-serif;
  font-size: 18px;
  padding: 1.35rem 2.5rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 400;
  line-height: 1;
  outline: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  width: 215px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5rem;
}
@media (min-width: 760px) {
  /* line 1, ../scss/base/_buttons.scss */
  .btn {
    width: auto;
  }
}
/* line 19, ../scss/base/_buttons.scss */
.btn.btn-primary {
  background: #4469EA;
  color: #ffffff;
}
/* line 68, ../scss/config/_mixins.scss */
.btn.btn-primary:hover {
  background: #244fe6;
  transition: background 0.2s ease;
  text-decoration: none;
}
/* line 73, ../scss/config/_mixins.scss */
.btn.btn-primary:focus {
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(68, 105, 234, 0.25);
  text-decoration: none;
}
/* line 78, ../scss/config/_mixins.scss */
.btn.btn-primary:active {
  background: #1946e2;
}
/* line 81, ../scss/config/_mixins.scss */
.btn.btn-primary.disabled, .btn.btn-primary:disabled {
  opacity: 0.55;
  color: #666666;
  background: #ffffff;
  border: 1px solid #666666;
  box-shadow: none;
  cursor: auto;
}
/* line 89, ../scss/config/_mixins.scss */
.btn.btn-primary.disabled:hover, .btn.btn-primary:disabled:hover {
  background: #ffffff;
}
/* line 92, ../scss/config/_mixins.scss */
.btn.btn-primary.disabled:focus, .btn.btn-primary:disabled:focus {
  box-shadow: none;
}
/* line 21, ../scss/base/_buttons.scss */
.btn.btn-primary.outline {
  background: transparent;
  color: #1D1B7A;
  border: 0.15rem solid #1D1B7A;
}
/* line 68, ../scss/config/_mixins.scss */
.btn.btn-primary.outline:hover {
  background: transparent;
  transition: background 0.2s ease;
  text-decoration: none;
}
/* line 73, ../scss/config/_mixins.scss */
.btn.btn-primary.outline:focus {
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(68, 105, 234, 0.25);
  text-decoration: none;
}
/* line 78, ../scss/config/_mixins.scss */
.btn.btn-primary.outline:active {
  background: transparent;
}
/* line 81, ../scss/config/_mixins.scss */
.btn.btn-primary.outline.disabled, .btn.btn-primary.outline:disabled {
  opacity: 0.55;
  color: #666666;
  background: #ffffff;
  border: 1px solid #666666;
  box-shadow: none;
  cursor: auto;
}
/* line 89, ../scss/config/_mixins.scss */
.btn.btn-primary.outline.disabled:hover, .btn.btn-primary.outline:disabled:hover {
  background: #ffffff;
}
/* line 92, ../scss/config/_mixins.scss */
.btn.btn-primary.outline.disabled:focus, .btn.btn-primary.outline:disabled:focus {
  box-shadow: none;
}
/* line 24, ../scss/base/_buttons.scss */
.btn.btn-primary.outline:hover, .btn.btn-primary.outline:active {
  background: #1D1B7A;
  color: #ffffff;
}
/* line 68, ../scss/config/_mixins.scss */
.btn.btn-primary.outline:hover:hover, .btn.btn-primary.outline:active:hover {
  background: #16155d;
  transition: background 0.2s ease;
  text-decoration: none;
}
/* line 73, ../scss/config/_mixins.scss */
.btn.btn-primary.outline:hover:focus, .btn.btn-primary.outline:active:focus {
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(68, 105, 234, 0.25);
  text-decoration: none;
}
/* line 78, ../scss/config/_mixins.scss */
.btn.btn-primary.outline:hover:active, .btn.btn-primary.outline:active:active {
  background: #131250;
}
/* line 81, ../scss/config/_mixins.scss */
.btn.btn-primary.outline:hover.disabled, .btn.btn-primary.outline:hover:disabled, .btn.btn-primary.outline:active.disabled, .btn.btn-primary.outline:active:disabled {
  opacity: 0.55;
  color: #666666;
  background: #ffffff;
  border: 1px solid #666666;
  box-shadow: none;
  cursor: auto;
}
/* line 89, ../scss/config/_mixins.scss */
.btn.btn-primary.outline:hover.disabled:hover, .btn.btn-primary.outline:hover:disabled:hover, .btn.btn-primary.outline:active.disabled:hover, .btn.btn-primary.outline:active:disabled:hover {
  background: #ffffff;
}
/* line 92, ../scss/config/_mixins.scss */
.btn.btn-primary.outline:hover.disabled:focus, .btn.btn-primary.outline:hover:disabled:focus, .btn.btn-primary.outline:active.disabled:focus, .btn.btn-primary.outline:active:disabled:focus {
  box-shadow: none;
}
/* line 29, ../scss/base/_buttons.scss */
.btn.btn-secondary {
  background: #ffffff;
  color: #1D1B7A;
}
/* line 68, ../scss/config/_mixins.scss */
.btn.btn-secondary:hover {
  background: #ededed;
  transition: background 0.2s ease;
  text-decoration: none;
}
/* line 73, ../scss/config/_mixins.scss */
.btn.btn-secondary:focus {
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(68, 105, 234, 0.25);
  text-decoration: none;
}
/* line 78, ../scss/config/_mixins.scss */
.btn.btn-secondary:active {
  background: #e6e6e6;
}
/* line 81, ../scss/config/_mixins.scss */
.btn.btn-secondary.disabled, .btn.btn-secondary:disabled {
  opacity: 0.55;
  color: #666666;
  background: #ffffff;
  border: 1px solid #666666;
  box-shadow: none;
  cursor: auto;
}
/* line 89, ../scss/config/_mixins.scss */
.btn.btn-secondary.disabled:hover, .btn.btn-secondary:disabled:hover {
  background: #ffffff;
}
/* line 92, ../scss/config/_mixins.scss */
.btn.btn-secondary.disabled:focus, .btn.btn-secondary:disabled:focus {
  box-shadow: none;
}
/* line 31, ../scss/base/_buttons.scss */
.btn.btn-secondary.outline {
  background: transparent;
  color: #E6E8FB;
  border: 0.15rem solid #E6E8FB;
}
/* line 68, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:hover {
  background: transparent;
  transition: background 0.2s ease;
  text-decoration: none;
}
/* line 73, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:focus {
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(68, 105, 234, 0.25);
  text-decoration: none;
}
/* line 78, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:active {
  background: transparent;
}
/* line 81, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline.disabled, .btn.btn-secondary.outline:disabled {
  opacity: 0.55;
  color: #666666;
  background: #ffffff;
  border: 1px solid #666666;
  box-shadow: none;
  cursor: auto;
}
/* line 89, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline.disabled:hover, .btn.btn-secondary.outline:disabled:hover {
  background: #ffffff;
}
/* line 92, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline.disabled:focus, .btn.btn-secondary.outline:disabled:focus {
  box-shadow: none;
}
/* line 34, ../scss/base/_buttons.scss */
.btn.btn-secondary.outline:hover, .btn.btn-secondary.outline:active {
  background: #E6E8FB;
  color: #ffffff;
}
/* line 68, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:hover:hover, .btn.btn-secondary.outline:active:hover {
  background: #c7ccf6;
  transition: background 0.2s ease;
  text-decoration: none;
}
/* line 73, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:hover:focus, .btn.btn-secondary.outline:active:focus {
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(68, 105, 234, 0.25);
  text-decoration: none;
}
/* line 78, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:hover:active, .btn.btn-secondary.outline:active:active {
  background: #bac0f4;
}
/* line 81, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:hover.disabled, .btn.btn-secondary.outline:hover:disabled, .btn.btn-secondary.outline:active.disabled, .btn.btn-secondary.outline:active:disabled {
  opacity: 0.55;
  color: #666666;
  background: #ffffff;
  border: 1px solid #666666;
  box-shadow: none;
  cursor: auto;
}
/* line 89, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:hover.disabled:hover, .btn.btn-secondary.outline:hover:disabled:hover, .btn.btn-secondary.outline:active.disabled:hover, .btn.btn-secondary.outline:active:disabled:hover {
  background: #ffffff;
}
/* line 92, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:hover.disabled:focus, .btn.btn-secondary.outline:hover:disabled:focus, .btn.btn-secondary.outline:active.disabled:focus, .btn.btn-secondary.outline:active:disabled:focus {
  box-shadow: none;
}
/* line 40, ../scss/base/_buttons.scss */
.btn.small {
  padding: 1.1rem 1.6rem;
  font-size: 1.35rem;
}
/* line 44, ../scss/base/_buttons.scss */
.btn.medium {
  font-size: 1.4rem;
  padding: 11px 38px;
}

/* line 1, ../scss/base/_general.scss */
.title-section {
  color: #1D1B7A;
  font-family: "Russo One", sans-serif;
  font-size: 36px;
  margin-top: 50px;
  text-align: center;
}

/* line 8, ../scss/base/_general.scss */
.subtitle-section {
  color: #1D1B7A;
  font-family: "Russo One", sans-serif;
  font-size: 34px;
  margin-top: 50px;
  text-align: center;
}

/* line 15, ../scss/base/_general.scss */
.cities__description {
  color: #ffffff;
  font-family: "Rufina", serif;
  font-size: 22px;
  margin-top: 20px;
  text-align: center;
}

/* line 1, ../scss/components/_header.scss */
.header {
  align-content: center;
  background-color: #1D1B7A;
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: center;
  position: fixed;
  width: 100%;
}
/* line 11, ../scss/components/_header.scss */
.header__menu-navbar {
  display: none;
}
/* line 15, ../scss/components/_header.scss */
.header__bar {
  align-items: center;
  display: flex;
  font-size: 3rem;
  height: 90px;
  justify-content: space-between;
  width: 100%;
}
/* line 22, ../scss/components/_header.scss */
.header__bar img {
  height: 4rem;
  margin-left: 1.5rem;
  width: 5rem;
}
/* line 27, ../scss/components/_header.scss */
.header__bar-title-header {
  font-family: "Redressed", "cursive";
  color: #ffffff;
  font-size: 42px;
}
/* line 32, ../scss/components/_header.scss */
.header__bar-bar-icon {
  font-size: 8rem;
}

@media (min-width: 960px) {
  /* line 38, ../scss/components/_header.scss */
  .header {
    background-color: #E6E8FB;
    padding: 2rem;
    width: fit-content;
    align-items: center;
    position: absolute;
    position: fixed;
  }
  /* line 46, ../scss/components/_header.scss */
  .header__menu-navbar {
    margin-left: 2rem;
    display: flex;
    display: block;
    list-style: none;
    width: fit-content;
    justify-content: space-between;
  }
  /* line 53, ../scss/components/_header.scss */
  .header__menu-navbar span {
    font-size: 6rem;
  }
  /* line 56, ../scss/components/_header.scss */
  .header__menu-navbar-icon {
    font-size: 12rem;
  }
  /* line 61, ../scss/components/_header.scss */
  .header__bar {
    display: none;
  }
}
@media (min-width: 1440px) {
  /* line 67, ../scss/components/_header.scss */
  .header {
    background-color: #E6E8FB;
    padding: 2rem;
    width: fit-content;
    align-items: center;
    position: absolute;
  }
}
/* line 2, ../scss/components/_footer.scss */
.footer .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Rufina", serif;
  font-size: 22px;
}
/* line 9, ../scss/components/_footer.scss */
.footer__redes {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  width: 179px;
}
/* line 15, ../scss/components/_footer.scss */
.footer__redes-icons {
  font-size: 48px;
}
/* line 19, ../scss/components/_footer.scss */
.footer img {
  height: 35px;
  width: 35px;
}
/* line 24, ../scss/components/_footer.scss */
.footer__info {
  padding-top: 14px;
  text-align: center;
}
/* line 27, ../scss/components/_footer.scss */
.footer__info .direction {
  color: #666666;
}
/* line 31, ../scss/components/_footer.scss */
.footer__copyright {
  padding-bottom: 50px;
  padding-top: 10px;
  text-align: center;
}

@media (min-width: 1440px) {
  /* line 40, ../scss/components/_footer.scss */
  .footer .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    height: 205px;
  }
  /* line 49, ../scss/components/_footer.scss */
  .footer__redes {
    font-size: 48px;
    padding-top: 0px;
    width: 180px;
  }
  /* line 53, ../scss/components/_footer.scss */
  .footer__redes img {
    height: 48px;
    justify-content: center;
    width: 48px;
  }
  /* line 59, ../scss/components/_footer.scss */
  .footer__info {
    font-size: 24px;
    text-align: center;
  }
  /* line 62, ../scss/components/_footer.scss */
  .footer__info .direccion {
    color: #666666;
  }
  /* line 66, ../scss/components/_footer.scss */
  .footer__copyright {
    font-size: 24px;
    padding-bottom: 28px;
  }
  /* line 69, ../scss/components/_footer.scss */
  .footer__copyright p {
    margin-bottom: 0px;
  }
}
/* line 1, ../scss/components/_multimedia.scss */
.multimedia {
  background: #ffffff;
}
/* line 3, ../scss/components/_multimedia.scss */
.multimedia .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 8, ../scss/components/_multimedia.scss */
.multimedia__title-section {
  color: #1D1B7A;
  font-size: 34px;
  line-height: 35px;
  padding-top: 50px;
  text-align: center;
}
/* line 15, ../scss/components/_multimedia.scss */
.multimedia__content {
  margin-top: 30px;
  padding: 0 20px;
}
/* line 18, ../scss/components/_multimedia.scss */
.multimedia__content video {
  height: auto;
  max-width: 100%;
  padding-bottom: 50px;
  width: auto;
}
/* line 25, ../scss/components/_multimedia.scss */
.multimedia__list {
  display: none;
}

@media (min-width: 960px) {
  /* line 33, ../scss/components/_multimedia.scss */
  .multimedia__title-section {
    width: 600px;
  }
}
@media (min-width: 1440px) {
  /* line 39, ../scss/components/_multimedia.scss */
  .multimedia {
    padding-bottom: 44px;
  }
  /* line 41, ../scss/components/_multimedia.scss */
  .multimedia__title-section {
    font-size: 48px;
    line-height: 40px;
    margin-top: 30px;
    width: 832px;
  }
  /* line 47, ../scss/components/_multimedia.scss */
  .multimedia__content {
    display: flex;
    flex-direction: row;
    margin-left: -25px;
    padding-top: 108px;
  }
  /* line 53, ../scss/components/_multimedia.scss */
  .multimedia__media {
    width: 738px;
  }
  /* line 56, ../scss/components/_multimedia.scss */
  .multimedia__media video {
    max-width: 100%;
  }
  /* line 61, ../scss/components/_multimedia.scss */
  .multimedia__list {
    display: block;
    list-style: disc;
    font-family: "Rufina", serif;
    font-size: 36px;
    line-height: 53px;
    margin-left: 220px;
    margin-top: 51px;
    padding-bottom: 50px;
    width: 258px;
  }
}
/* line 1, ../scss/components/_banner.scss */
.banner {
  background: #AEC5FF;
  margin-top: 91px;
}
/* line 4, ../scss/components/_banner.scss */
.banner .container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
/* line 10, ../scss/components/_banner.scss */
.banner__part1-title-page {
  display: none;
}
/* line 13, ../scss/components/_banner.scss */
.banner__part1 img {
  display: none;
}
/* line 17, ../scss/components/_banner.scss */
.banner__part2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 22, ../scss/components/_banner.scss */
.banner__part2-title-section {
  color: #1D1B7A;
  font-size: 38px;
  line-height: 47px;
  padding-top: 50px;
  text-align: center;
  width: 314px;
}
/* line 30, ../scss/components/_banner.scss */
.banner__part2 button {
  padding-bottom: 20px;
}

@media (min-width: 1440px) {
  /* line 36, ../scss/components/_banner.scss */
  .banner {
    margin-top: 0;
    background: #324AA0;
  }
  /* line 39, ../scss/components/_banner.scss */
  .banner .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  /* line 44, ../scss/components/_banner.scss */
  .banner__part1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 202px;
    text-align: center;
  }
  /* line 52, ../scss/components/_banner.scss */
  .banner__part1-title-page {
    color: #ffffff;
    display: block;
    font-family: "Redressed", "cursive";
    font-size: 98px;
    margin-left: 10px;
    margin-top: 25px;
  }
  /* line 60, ../scss/components/_banner.scss */
  .banner__part1 img {
    display: block;
    height: auto;
    margin-bottom: 50px;
    margin-top: 22px;
    max-width: 100%;
    width: auto;
  }
  /* line 69, ../scss/components/_banner.scss */
  .banner__part2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 194px;
    margin-top: 14px;
  }
  /* line 76, ../scss/components/_banner.scss */
  .banner__part2-title-section {
    color: #ffffff;
    font-size: 50px;
    line-height: 57px;
    padding-top: 20px;
    text-align: center;
    width: 341px;
  }
  /* line 84, ../scss/components/_banner.scss */
  .banner__part2 button {
    font-size: 36px;
    margin-top: 65px;
    height: 77px;
    width: 287px;
  }
}
/* line 1, ../scss/components/_grid.scss */
.grid {
  background: #4469EA;
}
/* line 3, ../scss/components/_grid.scss */
.grid .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
/* line 9, ../scss/components/_grid.scss */
.grid__title-section {
  color: #ffffff;
  font-size: 34px;
  line-height: 34px;
  padding-top: 50px;
  text-align: center;
  width: 314px;
}
/* line 17, ../scss/components/_grid.scss */
.grid__galeria {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
}
/* line 23, ../scss/components/_grid.scss */
.grid__galeria.only-desktop {
  display: none;
}
/* line 26, ../scss/components/_grid.scss */
.grid__galeria picture {
  max-width: 100%;
  width: auto;
  height: auto;
}
/* line 32, ../scss/components/_grid.scss */
.grid__description {
  color: #ffffff;
  font-family: "Rufina", serif;
  font-size: 24px;
  line-height: 22px;
  padding-top: 42px;
  text-align: center;
  width: 314px;
}
/* line 40, ../scss/components/_grid.scss */
.grid__description p {
  margin-bottom: 0;
}

@media (min-width: 960px) {
  /* line 47, ../scss/components/_grid.scss */
  .cities .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  /* line 51, ../scss/components/_grid.scss */
  .cities .container .title-section {
    width: 800px;
  }
  /* line 55, ../scss/components/_grid.scss */
  .cities .container .cities__galeria {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  /* line 59, ../scss/components/_grid.scss */
  .cities .container .cities__galeria.only-ipad {
    display: flex;
  }
  /* line 62, ../scss/components/_grid.scss */
  .cities .container .cities__galeria .cities__description {
    width: 500px;
  }
}
@media (min-width: 1440px) {
  /* line 70, ../scss/components/_grid.scss */
  .grid {
    padding-bottom: 53px;
  }
  /* line 72, ../scss/components/_grid.scss */
  .grid__title-section {
    font-size: 48px;
    margin-top: 39px;
    line-height: 44px;
    text-align: center;
    width: 1070px;
  }
  /* line 80, ../scss/components/_grid.scss */
  .grid__galeria {
    display: flex;
    align-items: center;
    flex-direction: columnx;
  }
  /* line 84, ../scss/components/_grid.scss */
  .grid__galeria img {
    margin-top: 23px;
    height: 350px;
    width: 350px;
  }
  /* line 90, ../scss/components/_grid.scss */
  .grid__description {
    margin-bottom: -22px;
    padding-top: 28px;
    width: 450px;
  }
}
/* line 2, ../scss/components/_contact.scss */
.contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 7, ../scss/components/_contact.scss */
.contact__title-section {
  color: #1D1B7A;
  font-size: 34px;
  line-height: 40px;
  padding-top: 48px;
  text-align: center;
  width: 314px;
}
/* line 15, ../scss/components/_contact.scss */
.contact__form-group {
  color: #000000;
  display: flex;
  flex-direction: column;
  font-family: "Rufina", serif;
  padding-top: 25px;
}
/* line 21, ../scss/components/_contact.scss */
.contact__form-group label {
  color: #1D1B7A;
  font-size: 24px;
  padding-bottom: 24px;
}
/* line 26, ../scss/components/_contact.scss */
.contact__form-group input {
  border: 2px solid #1D1B7A;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: "Rufina", serif;
  height: 38px;
}
/* line 34, ../scss/components/_contact.scss */
.contact__form-actions {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  padding-top: 23px;
}

@media (min-width: 960px) {
  /* line 46, ../scss/components/_contact.scss */
  .contact .container {
    padding: 0 200px;
  }
}
@media (min-width: 1440px) {
  /* line 53, ../scss/components/_contact.scss */
  .contact .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /* line 58, ../scss/components/_contact.scss */
  .contact__title-section {
    font-size: 48px;
    line-height: 55px;
    text-align: left;
    padding-top: 75px;
    width: 564px;
  }
  /* line 65, ../scss/components/_contact.scss */
  .contact__form-group {
    margin-top: 10px;
    width: 500px;
  }
  /* line 68, ../scss/components/_contact.scss */
  .contact__form-group label {
    padding-bottom: 37px;
    padding-top: 13px;
  }
  /* line 72, ../scss/components/_contact.scss */
  .contact__form-group input {
    font-size: 18px;
    height: 57px;
    width: 564px;
  }
  /* line 78, ../scss/components/_contact.scss */
  .contact__form-actions {
    align-items: flex-start;
    padding-top: 55px;
    padding-bottom: 20px;
  }
  /* line 82, ../scss/components/_contact.scss */
  .contact__form-actions button {
    font-size: 36px;
    height: 84px;
    width: 280px;
  }
}
/* line 1, ../scss/components/_agreements.scss */
.agreements {
  background: #4469EA;
}
/* line 3, ../scss/components/_agreements.scss */
.agreements .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 8, ../scss/components/_agreements.scss */
.agreements__title-section {
  color: #ffffff;
  font-size: 34px;
  line-height: 48px;
  padding-top: 50px;
  text-align: center;
  width: 314px;
}
/* line 16, ../scss/components/_agreements.scss */
.agreements img {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 44px;
}
/* line 22, ../scss/components/_agreements.scss */
.agreements__info {
  color: #ffffff;
  font-family: "Rufina", serif;
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 50px;
  width: 314px;
}
/* line 30, ../scss/components/_agreements.scss */
.agreements__topinfo {
  padding-top: 50px;
}
/* line 33, ../scss/components/_agreements.scss */
.agreements ul {
  list-style: disc;
  padding-left: 37px;
  padding-bottom: 30px;
}
/* line 38, ../scss/components/_agreements.scss */
.agreements .btn-link {
  color: #ffffff;
  font-size: 22px;
  padding-left: 195px;
}

@media (min-width: 960px) {
  /* line 47, ../scss/components/_agreements.scss */
  .supermarkets .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  /* line 52, ../scss/components/_agreements.scss */
  .supermarkets .container .title-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* line 56, ../scss/components/_agreements.scss */
  .supermarkets .container .supermarkets__info {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    padding: 50px 200px;
  }
  /* line 62, ../scss/components/_agreements.scss */
  .supermarkets .container .supermarkets__info .supermarkets__topinfo {
    width: 350px;
    margin-top: 0;
  }
  /* line 66, ../scss/components/_agreements.scss */
  .supermarkets .container .supermarkets__info ul {
    list-style: disc;
  }
  /* line 69, ../scss/components/_agreements.scss */
  .supermarkets .container .supermarkets__info .supermarkets__link {
    display: none;
  }
}
@media (min-width: 1440px) {
  /* line 78, ../scss/components/_agreements.scss */
  .agreements {
    padding-bottom: 30px;
  }
  /* line 80, ../scss/components/_agreements.scss */
  .agreements__title-section {
    font-size: 48px;
    margin-top: 15px;
    text-align: center;
    width: 656px;
  }
  /* line 86, ../scss/components/_agreements.scss */
  .agreements__content {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 185px;
    padding-right: 185px;
    width: 100%;
  }
  /* line 95, ../scss/components/_agreements.scss */
  .agreements img {
    margin-top: 23px;
    height: 450px;
    margin-left: 378px;
    width: 450px;
  }
  /* line 101, ../scss/components/_agreements.scss */
  .agreements__info {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    margin-left: -92px;
    margin-top: 34px;
    padding: 40px 0px;
    text-align: left;
  }
  /* line 109, ../scss/components/_agreements.scss */
  .agreements__info ul {
    line-height: 44px;
    margin-top: 36px;
    margin-left: 12px;
  }
  /* line 115, ../scss/components/_agreements.scss */
  .agreements__topinfo {
    line-height: 42px;
    width: 485px;
  }
  /* line 119, ../scss/components/_agreements.scss */
  .agreements__link {
    display: flex;
    margin-left: 100px;
    width: 100%;
  }
  /* line 124, ../scss/components/_agreements.scss */
  .agreements__link .btn-link {
    font-size: 28px;
  }
}
/* line 1, ../scss/components/_aside.scss */
aside {
  display: none;
}

@media (min-width: 1440px) {
  /* line 5, ../scss/components/_aside.scss */
  aside {
    display: block;
    flex-direction: column;
    margin-left: 150px;
  }
  /* line 9, ../scss/components/_aside.scss */
  aside .subtitle-section {
    color: #1D1B7A;
    font-size: 42px;
    line-height: 50px;
    margin-left: 26px;
    margin-top: -8px;
    text-align: center;
    width: 476px;
  }
  /* line 18, ../scss/components/_aside.scss */
  aside img {
    padding-top: px;
    margin-left: 10px;
    width: 518px;
    height: 417px;
  }
}
