// ==========================================================================
// Importación de la typografia
// ==========================================================================
@font-face {
    font-family: 'iconFont';
    src:  url('./../fonts/iconFonts/iconFont.eot?esom0w');
    src:  url('./../fonts/iconFonts/iconFont.eot?esom0w#iefix') format('embedded-opentype'),
      url('./../fonts/iconFonts/iconFont.ttf?esom0w') format('truetype'),
      url('./../fonts/iconFonts/iconFont.woff?esom0w') format('woff'),
      url('./../fonts/iconFonts/iconFont.svg?esom0w#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block; 
}

// ---------------- family Open sans ---------------
@font-face {
    font-family: 'Russo One';
    src: url('./../fonts/RussoOne/RussoOne-Regular.woff2') format('woff2'),
        url('./../fonts/RussoOne/RussoOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rufina';
    src: url('./../fonts/Rufina/Rufina-Regular.woff2') format('woff2'),
        url('./../fonts/Rufina/Rufina-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: 'Rufina';
    src: url('./../fonts/Rufina/Rufina-Bold.woff2') format('woff2'),
        url('./../fonts/Rufina/Rufina-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Redressed';
    src: url('./../fonts/Redressed/Redressed-Regular.woff2') format('woff2'),
        url('./../fonts/Redressed/Redressed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
   font-family: 'iconFont' !important;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
 
   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 .icon-chat:before {
   content: "\e900";
 }
 .icon-email:before {
   content: "\e901";
 }
 .icon-home:before {
   content: "\e902";
 }
 .icon-shop:before {
   content: "\e903";
 }
 .icon-swift:before {
   content: "\e904";
 }
 .icon-user:before {
   content: "\e905";
 }