.agreements{
    background: color(primary,base);
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        &__title-section{
            color: color(grayscale,white);
            font-size: 34px;
            line-height: 48px;
            padding-top: 50px;
            text-align: center;
            width: 314px;
        }
        img{
            align-items: center;
            display: flex;
            flex-direction: column;
            margin-top: 44px;
        }
        &__info{
            color: color(grayscale,white);
            font-family: $font-secondary;
            font-size: 24px;
            line-height: 30px;
            padding-bottom: 50px;
            width: 314px;
        }
        &__topinfo{
            padding-top: 50px;
        }
        ul{
            list-style: disc;
            padding-left: 37px;
            padding-bottom: 30px;
        }
        .btn-link{
            color: color(grayscale,white);
            font-size: 22px;
            padding-left: 195px;
            }
}

@include mq-min(lg){
    .supermarkets{
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .title-section{
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .supermarkets__info{
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                width: 100%;
                padding: 50px 200px;
                .supermarkets__topinfo{
                    width: 350px;
                    margin-top: 0;
                }
                ul{
                    list-style: disc;
                }
                .supermarkets__link{
                    display: none;
                }
            }

        }
    }
}
@include mq-min(xl){
    .agreements{
        padding-bottom: 30px;
        &__title-section{
            font-size: 48px;
            margin-top: 15px;
            text-align: center;
            width: 656px;
        }
        &__content{
            align-items: center;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding-left: 185px;
            padding-right: 185px;
            width: 100%;
        }
            img{
                margin-top: 23px;
                height: 450px;
                margin-left: 378px;
                width: 450px;
            }
        &__info{
            display: flex;
            flex-direction: column;
            font-size: 36px;
            margin-left: -92px;
            margin-top: 34px;
            padding: 40px 0px;
            text-align: left;
            ul{
                line-height: 44px;
                margin-top: 36px;
                margin-left: 12px;
            }
        }
        &__topinfo{
            line-height: 42px;
            width: 485px;
        }
        &__link{
            display: flex;
            margin-left: 100px;
            width: 100%;
            
            .btn-link{
                font-size: 28px;
            }
        }
    }
}
