aside{
    display: none;
}
@include mq-min(xl){
    aside{
        display: block;
        flex-direction: column;
        margin-left: 150px;
        .subtitle-section{
            color: color(primary,dark);
            font-size: 42px;
            line-height: 50px;
            margin-left: 26px;
            margin-top: -8px;
            text-align: center;
            width: 476px;
        }   
        img{
            height: 417px;
            margin-left: 10px;
            width: 518px;
        }
    }
}