.banner{
    background: color(complementary,three); 
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;

        .title-page{
            display: none;
        }
        img{
            display: none;
        }
    }
}
@include mq-min(lg){
    .banner{
        background: color(complementary,five);
        .container{  
            display: flex;
            flex-direction: row;
            background: color(complementary,five);
            padding-left: 200px;
            width: 100%;    
            .banner__part-1{
                text-align: center;
                margin-top: 30px;
                display: flex;
                align-items: center;
                flex-direction: column;
                .title-page{
                    color:color(grayscale,white);
                    display: block;
                    font-family: $font-header;
                    font-size: 40px;
                }
                img{
                    margin-top: 30px;
                    display: block;
                    max-width: 100%;
                    width: auto;
                    height: auto;
                    margin-bottom: 50px;
                }
            }    
            .banner__part-2{
                margin-left: 100px;
                display: flex;
                align-items: center;
                flex-direction: column;
                .title-section{
                color:color(grayscale,white);
                text-align: center;
                width: 300px;
                }
            }
        }
    }
}  
