.card{
    background:color(primary,base);
    .container{       
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }
    &__title-section{
        color: color(grayscale,white);
        font-size: 34px;
        line-height: 34px;
        padding-top: 50px;
        text-align: center;
        width: 314px;
    }
    &__galeria{
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 64px;
        &.only-desktop{
            display: none;
        }
        picture {
            height: auto;
            max-width: 100%;
            width: auto;
        }
    }
    &__description{
        color: color(grayscale,white);
        font-family: $font-secondary;
        font-size: 24px;
        line-height: 22px;
        padding-top: 42px;
        text-align: center;
        width: 314px;
        p{
            margin-bottom: 0;
        }
    }
}
@include mq-min(lg){
    .card{
        .container{
            display: flex;
            align-items: center;
            flex-direction:column ;
            .title-section{
                width:800px;
            }

            &__galeria{
                display: flex;
                align-items: center;
                flex-direction:column ;
                &.only-ipad{
                    display: flex;
                }
                .cities__description{
                    width: 500px;
                }
            }
        }
    }
}
@include mq-min(xl){
    .card{
        padding-bottom: 53px;
        &__title-section{
            font-size: 48px;
            margin-top: 39px;
            line-height: 44px;
            text-align: center;
            width: 1070px;
        }
        &__grid{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 515px);
            }
        &__galeria{
            align-items: center;
            display: flex;
            flex-direction:columnx ;
            &.only-desktop{
                display: flex;
            }
            img{
                height: 350px;
                margin-top: 23px;
                width: 350px;
            }
        }
        &__description{
            margin-bottom: -22px;
            padding-top: 28px;
            width: 450px;
        } 
    }
}

