.contact{
    .container{
        .form-group{
            color: color(grayscale,black);
            display: flex;
            flex-direction: column;
            font-family: $font-secondary;
            margin-top: 15px;

            input{
                border: 2px solid #1D1B7A; 
                border-radius: 50px;
                box-sizing: border-box;                
                font-family: $font-secondary;
                height: 38px;
            }
            .form-actions{
            align-items: center;
            display: flex;
            flex-direction: column;
            }
        } 
    } 
}