.contact{
    .container{
        .form-group{
            color: color(grayscale,black);
            display: flex;
            flex-direction: column;
            font-family: $font-secondary;
            margin-top: 15px;

            input{
                border: 2px solid #1D1B7A; 
                border-radius: 50px;
                box-sizing: border-box;                
                font-family: $font-secondary;
                height: 38px;
            }
            .form-actions{
            align-items: center;
            display: flex;
            flex-direction: column;
            }
        } 
    } 
}
@include mq-min(lg){
    .contact{
        .container{
            padding:0 200px;
        }
    }
}
@include mq-min(xl){
    .contact{
        .container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            .title-section{
                text-align: left;
                width: 360px;
            }
            .form-group{
                width: 500px;
            }
            aside{
                display: block;
                flex-direction: column;
                margin-left: 180px;
            }
        }
    }
}