.footer{
    .container{   
        align-items: center;
        display: flex;
        flex-direction: column;
        font-family: $font-secondary; 
        font-size: 22px;

    }
        &__redes{
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        width: 179px;
                    &-icons{
                font-size: 48px;
            }
        }
        img{
            height: 35px;
            width: 35px;

        }
        &__info{
            padding-top: 14px;
            text-align: center;
            .direction{
                color: color(grayscale, gray-5);
            }
        }    
        &__copyright{
            padding-bottom: 50px;
            padding-top: 10px;
            text-align: center;
        }    
        
}
@include mq-min(lg){
    .footer{
        height: 50px;
        .container{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            .footer__redes{
                width: 250px;
                margin: 0;
                img{
                    justify-content: center;  
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
            .footer__info{
                margin: 50px;
                text-align: center;
                .direccion{
                    color: color(grayscale, gray-5);
                }
            }
        }
    }
}
@include mq-min(xl){
    .footer{
        .container{
            height: 100px;
            .footer__redes{
                width: 180px;
            }
        }
    }
}