.header{
    align-content: center;
    background-color: color(primary,dark);
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;

    &__menu{
        &-navbar{
            display: none;
        }
    }
    &__bar{
        align-items: center;
        display: flex;
        font-size: 3rem;
        height: 90px;
        justify-content: space-between;
        width: 100%;
        img{
            height: 4rem;
            margin-left: 1.5rem;
            width: 5rem;
        }
        &-title-header{
            color: color(grayscale, white);
            font-family: $font-header;
            font-size: 44px;
            margin-top: 9px;
            padding-left: 10px;
        }
        &-bar-icon{
            font-size: 7rem; 
            padding-right: 8px;
        }
    }
}
@include mq-min(lg){
    .header{
        align-items: center;
        background-color: color(secondary,base);
        padding: 2rem;
        position: absolute;
        position: fixed;
        width: fit-content;
        &__menu{
            &-navbar{
                display: block;
                display: flex;
                justify-content: space-between;
                list-style: none;
                margin-left: 2rem;
                width: fit-content;

                &-icon{
                    font-size: 12rem;
                }    
            }
        }
        &__bar{
            display: none;
        }
    }
}
@include mq-min(xl){
    .header{
        align-items: center;
        background-color: color(secondary,base);
        height: 660px;
        padding: 1rem;
        position: absolute;
        width: fit-content;
        &__menu{
            &-navbar{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 0px;

            }
            &-icon{
                color: color(grayscale,black);
                font-size: 10rem;
            }
            &-list{
                font-size: 5.2rem;
                line-height: 101px;
                padding-bottom: 26px;
                padding-top: 19px;
                .icon-chat{
                    color: color(complementary,six);
                }
                .icon-email{
                    color:color(complementary,seven);
                }
            }
        }
    }
}