.header{
    align-content: center;
    background-color: color(primary,dark);
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;

    &__menu{
        &-navbar{
            display: none;
        }
    }
    &__bar{
        align-items: center;
        display: flex;
        font-size: 3rem;
        height: 90px;
        justify-content: space-between;
        width: 100%;
        img{
            height: 4rem;
            margin-left: 1.5rem;
            width: 5rem;
        }
        &-title-header{
            color: color(grayscale, white);
            font-family: $font-header;
            font-size: 42px;
        }
        &-bar-icon{
            font-size: 8rem; 
        }
    }
}
@include mq-min(lg){
    .header{
        align-items: center;
        background-color: color(secondary,base);
        padding: 2rem;
        position: absolute;
        position: fixed;
        width: fit-content;
        &__menu{
            &-navbar{
                display: block;
                display: flex;
                justify-content: space-between;
                list-style: none;
                margin-left: 2rem;
                width: fit-content;
                span{
                    font-size: 6rem; 
                }
                &-icon{
                    font-size: 12rem;
                }    
            }
        }
        &__bar{
            display: none;
        }
    }
}
@include mq-min(xl){
    .header{
        align-items: center;
        background-color: color(secondary,base);
        padding: 2rem;
        position: absolute;
        width: fit-content;
    }
}