.promotions{
    background: color(grayscale,white);

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .content-media{
            margin-top: 30px;
            padding: 0 20px;
            video{
                max-width: 100%;
                width: auto;
                height: auto;
            }
        }
        .list{
            display: none;
        }
    }  
    
}
@include mq-min(lg){
    .container{
        .title-section{
            width: 600px;
        }
    }
}
@include mq-min(xl){
    .promotions{
        .container{
            .content{
                display: flex;
                flex-direction: row;
                margin-bottom: 20px;
                .content-media{
                    video{
                        max-width: 80%;
                    }
                }
                .list{
                display: block;
                list-style: disc;
                margin-top: 80px;
                font-family: $font-secondary;
                font-size: 30px;
                width: 215px;
                }
            }
        }
    }
}