.promotions{
    background: color(grayscale,white);

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;

        .list{
            display: none;
        }
    }  
    
}

