.supermarkets{
    background: color(primary,base);
    .container{
        color: color(grayscale,white);
        font-family: $font-secondary;
        font-size: 22px;

        .title-section{
            color: color(grayscale,white);
        }
        picture{
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        .supermarkets__topinfo{
            margin-top: 20px;
        }
        .btn-link{
            color: color(grayscale,white);
            font-size: 16px;
            }
    }
}

@include mq-min(lg){
    .supermarkets{
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .title-section{
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .supermarkets__info{
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                width: 100%;
                padding: 50px 200px;
                .supermarkets__topinfo{
                    width: 350px;
                    margin-top: 0;
                }
                ul{
                    list-style: disc;
                }
                .supermarkets__link{
                    display: none;
                }
            }

        }
    }
}
@include mq-min(xl){
    .supermarkets{
        .container{
            .supermarkets__content{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                img{
                    margin-left: 260px;
                }
                .supermarkets__info{
                    display: flex;
                    flex-direction: column;
                    margin-top: 30px;
                    text-align: left;
                    padding: 40px 0px;
                    .supermarkets__link{
                        display: flex;
                        margin-top: 30px;
                        margin-left: 200px;
                    }
                }
            }    
        }
    }

}
