.title-section{
    color:color(primary,dark);
    font-family: $font-primary;
    font-size: 36px;
    margin-top: 50px;
    text-align: center;
}
.subtitle-section{
    color:color(primary,dark);
    font-family: $font-primary;
    font-size: 34px;
    margin-top: 50px;
    text-align: center;
}
.cities__description{
    color:color(grayscale,white);
    font-family: $font-secondary ;
    font-size: 22px;
    margin-top: 20px;
    text-align: center;
}
